@page
@model RepconWeb.Pages.Shared.EditPCModel
@{
    ViewData["Title"] = "Edit PC";
}

<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newItemModal">Добавить ПК</button>
<p />

<div class="text-center">
    <table id="PcTable" class="table table-hover" cellspacing="0">
        <thead>
            <tr>
                <th scope="col">Тип</th>
                <th scope="col">MAC-адрес</th>
                <th scope="col">Кабинет</th>
                <th scope="col">Номер места</th>
                <th scope="col">Редактирование</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pc in Model.Pc)
            {
                <tr>
                    <td>@pc.PcType</td>
                    <td>@pc.Macaddr</td>
                    <td>@Model.GetClassNum(pc.CrId.GetValueOrDefault())</td>
                    <td>@Model.GetPlaceNum(pc.CrId.GetValueOrDefault())</td>
                    <td>
                        <form method="post">
                            <button type="button"
                                    class="btn btn-info"
                                    onclick="editRow(@pc.PcId, '@pc.PcType', '@pc.Macaddr', @Model.GetClassNum(pc.CrId.GetValueOrDefault()), @Model.GetPlaceNum(pc.CrId.GetValueOrDefault()))">
                                Ред.
                            </button>
                            <button type="submit" class="btn btn-info" data-toggle="modal"
                                    asp-page-handler="delete" asp-route-id="@pc.PcId">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*modal form for adding*@
<div class="modal" id="newItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div asp-validation-summary="All"></div>
        <input asp-for="PcItem.PcId" type="hidden" />
        <input type="hidden" name="_method" value="put" />
        <form class="modal-content" method="post">
            <input type="hidden" name="_method" value="post" />
            <div class="modal-header">
                <h5 class="modal-title">Добавить ПК</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="pctypeInput">Тип</label>
                    <select class="form-control" name="pctype" id="pctypeInput" asp-for="PcItem.PcType" required>
                        <option value="Компьютер">Компьютер</option>
                        <option value="Ноутбук">Ноутбук</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="macaddrInput">MAC-адрес</label>
                    <input type="text" class="form-control" name="macaddr" id="macaddrInput" asp-for="PcItem.Macaddr" required>
                </div>

                <div class="form-group">
                    <label for="classnumInput">Кабинет</label>
                    <input type="text" class="form-control" name="_classnum" id="classnumInput" asp-for="PcItem.CrId">
                </div>

                <div class="form-group">
                    <label for="placenumInput">Номер места</label>
                    <input type="text" class="form-control" name="_placenum" id="placenumInput" asp-for="PcItem.CrId">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Добавить" style="float:right" />
            </div>
        </form>
    </div>
</div>

@* modal form for editing*@
<div class="modal" id="editItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div asp-validation-summary="All"></div>

        <form class="modal-content" method="post">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="_id" id="editItemId" />
            <div class="modal-header">
                <h5 class="modal-title">Редактирование ПК</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Тип</label>
                    <div>
                        <span asp-validation-for="PcItem.PcType" />
                        <select class="form-control" name="pctype" id="pctypeField" asp-for="PcItem.PcType" required>
                            <option value="Компьютер">Компьютер</option>
                            <option value="Ноутбук">Ноутбук</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label>MAC-адрес</label>
                    <div>
                        <input type="text" id="macaddrField" class="form-control" name="macaddr" asp-for="PcItem.Macaddr" required>
                        <span asp-validation-for="PcItem.Macaddr" />
                    </div>
                </div>

                <div class="form-group">
                    <label>Кабинет</label>
                    <div>
                        <input type="text" id="classnumField" class="form-control" name="_classnum" asp-for="PcItem.CrId">
                        <span asp-validation-for="PcItem.CrId" />
                    </div>
                </div>

                <div class="form-group">
                    <label>Номер места</label>
                    <div>
                        <input type="text" id="placenumField" class="form-control" name="_placenum" asp-for="PcItem.CrId">
                        <span asp-validation-for="PcItem.CrId" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Сохранить" style="float:right" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function editRow(id, pctype, macaddr, classnum, placenum) {
        $('#editItemId').val(id);

        $('#pctypeField').val(pctype);
        $('#macaddrField').val(macaddr);
        $('#classnumField').val(classnum);
        $('#placenumField').val(placenum);

        $('#editItemModal').modal('toggle');
    }

</script>
